<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Todo List</title>

    <link rel="stylesheet" href="/css/todo.css">

    <script src="/js/lib/jquery.min.js" type="text/javascript" ></script>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">

</head>
<body>
    <div id="container">
    
        <h2>TO-DO LIST <i class="fas fa-plus"></i></h2>

        <input id="todoInput" type="text" placeholder="Add New To-Do">
        
        <ul id="to">
            <!-- <li class="todo"><span class="del"><i class="fas fa-trash-alt"></i></span> Learn  HTML</li>
            <li class="todo"><span class="del"><i class="fas fa-trash-alt"></i></span> Learn CSS</li>
            <li class="todo"><span class="del"><i class="fas fa-trash-alt"></i></span> Learn javascript</li>
            <li class="todo"><span class="del"><i class="fas fa-trash-alt"></i></span> Learn jquery</li >
            <li class="todo"><span class="del"><i class="fas fa-trash-alt"></i></span> Learn nodejs</li>
            <li class="todo"><span class="del"><i class="fas fa-trash-alt"></i></span> Learn reactjs</li> -->
        </ul>

    </div>

    <script src="https://kit.fontawesome.com/4370877b14.js" crossorigin="anonymous"></script>

    <script src="/js/todo.js"></script>
    
</body>
</html>